In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
df = pd.read_csv("data_penjualan.csv",delimiter=";")
df

         Tanggal      Jenis Produk  Jumlah Order  Harga    Total
0     05/08/2022        Foodpak260          1000   1800  1800000
1     05/08/2022   FoodpakMatte245          1000   1900  1900000
2     05/08/2022  CraftLaminasi290          5000    750  3750000
3     05/08/2022  CraftLaminasi290          1000   1200  1200000
4     07/08/2022        Dupleks310          1000   1550  1550000
...          ...               ...           ...    ...      ...
1071  14/11/2023          Ivory230          1000    900   900000
1072  15/11/2023  CraftLaminasi290          2000    800  1600000
1073  15/11/2023  CraftLaminasi290          1500    875  1312500
1074  15/11/2023      FoodpakMatte          1000   2200  2200000
1075  15/11/2023       GreaseProof          1000    300   300000

[1076 rows x 5 columns]

#Soal
1. Hitung rata rata penjualan dari produk kalian!
2. Di tanggal berapakah transaksi termahal terjadi?
3. Berapakah jumlah orderan terbanyak di produk kamu?
4. Berapa nilai terendah tadi total pembelian yang terjadi di bulan 10 tahun 2023?
5. Di tanggal berapa nilai harga barangmu tertinggi?

In [4]:
#1
df.loc[df['Jenis Produk']=='Dupleks350',["Jumlah Order","Total"]].mean()

Jumlah Order    1.519231e+03
Total           2.915064e+06
dtype: float64

In [5]:
#2
df.loc[df['Jenis Produk']=='Dupleks350',["Tanggal","Jumlah Order","Total"]].max()

Tanggal         31/07/2023
Jumlah Order          3500
Total              7000000
dtype: object

In [6]:
#3
df.loc[df['Jenis Produk']=='Dupleks350',["Jumlah Order","Harga","Total"]].max()

Jumlah Order       3500
Harga              5500
Total           7000000
dtype: int64

In [7]:
#5
df.loc[df['Jenis Produk']=='Dupleks350',["Tanggal","Harga"]].max()

Tanggal    31/07/2023
Harga            5500
dtype: object

In [8]:
#4
dp=df.loc[df["Jenis Produk"]=="Dupleks350"]
dp

         Tanggal Jenis Produk  Jumlah Order  Harga    Total
9     09/08/2022   Dupleks350           500   1800   900000
10    09/08/2022   Dupleks350           500   1800   900000
14    11/08/2022   Dupleks350           500   1800   900000
15    11/08/2022   Dupleks350           500   1800   900000
19    12/08/2022   Dupleks350          1000   2200  2200000
...          ...          ...           ...    ...      ...
1059  11/11/2023   Dupleks350          1000   1700  1700000
1060  11/11/2023   Dupleks350          3500   2000  7000000
1061  11/11/2023   Dupleks350          3500   1900  6650000
1062  11/11/2023   Dupleks350          3000   1600  4800000
1064  13/11/2023   Dupleks350          2000   1600  3200000

[78 rows x 5 columns]

In [9]:
dp['Tanggal'] = pd.to_datetime(dp['Tanggal'], format='%d/%m/%Y', errors='coerce')

C:\Users\gilan\AppData\Local\Temp\ipykernel_6476\437641667.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dp['Tanggal'] = pd.to_datetime(dp['Tanggal'], format='%d/%m/%Y', errors='coerce')

In [10]:
october_2023_data = dp[(dp['Tanggal'].dt.year == 2023) & (dp['Tanggal'].dt.month == 10)]
october_2023_data

        Tanggal Jenis Produk  Jumlah Order  Harga    Total
956  2023-10-05   Dupleks350          2000   1975  3950000
963  2023-10-08   Dupleks350          2000   1800  3600000
979  2023-10-12   Dupleks350          2500   1800  4500000
990  2023-10-16   Dupleks350          2000   1500  3000000
1027 2023-10-30   Dupleks350          1000   3000  3000000
1028 2023-10-30   Dupleks350          3000    250   750000

In [11]:
min_total_dupleks350 = october_2023_data['Total'].min()
min_total_dupleks350

750000

In [22]:
october_2022_data = dp[(dp['Tanggal'].dt.year == 2022) & (dp['Tanggal'].dt.month == 10)]
october_2022_data

       Tanggal Jenis Produk  Jumlah Order  Harga    Total
149 2022-10-24   Dupleks350          2000   1975  3950000
150 2022-10-24   Dupleks350          1000   2200  2200000
160 2022-10-24   Dupleks350          2000   1500  3000000